@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maitree:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");

/* Custom fonts */
.section-heading {
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.heading {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.description {
  font-family: "Maitree", serif;
  font-weight: 400;
  font-style: normal;
}

.genre-button {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.navbar-brand {
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
}
