.watched-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  padding: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.watched-btn svg {
  width: 24px;
  height: 24px;
  fill: white;
  transition: fill 0.3s ease;
}

.watched-btn:hover {
  background-color: black;
  color: grey;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.watched-btn.active {
  color: grey;
  border-radius: 50%; /* Optional, makes it a circle */
}

.watched-btn.active svg {
  fill: #ffffff; /* Change icon color to white when active */
}

.watched-btn:active {
  transform: scale(0.95); /* Slightly reduce size on button press */
}
